body {
  font-family: sans-serif;
}
.container {
  margin-top: 30px;
}

@keyframes example {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}
.col-sm-3.first {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  height: 300px;
  padding-right: 12px;
}
.col-sm-3.second {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  height: 300px;
  padding-right: 12px;
  margin-left: 22px;
}
.col-sm-3.third {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  height: 300px;
}
